
header {
	background-color: yellow;
	color:yellow;
}

body {
	background: orange;
}

p {
color:black;
text-align: center;
font-size: 20px
}
h1{
	text-align: center;
	color: darkorange
	font-size:70 px;
}
.img{
	width: 600px;
	margin-left: 30%;
}
nav a {
	margin:20px;
	font-size:20px;
	text-decoration:none;
    color:black;
    border:3px solid black;
    border-radius: 10px
    background-color: navy;
}
nav a :hover {
	font-size:40px;
}

.glavnaya{
	background-color: white;
	color: royablue;
}
nav {
	display: flex;
	justify-content: flex-start;
}

div {
	display: flex;
	justify-content: start;
	justify-content: space-between;
	}
div img {
	width: 25%;
	height: 450px;
	border: 20px dotted grey;
    opacity: 0.5;
}
div img:hover {
	opacity: 1;
	width: 30%;
	height: 500px;
}

